<div class="edit-abonents-container">
  <div class="abonents-titles">
      <h3 class="abonents-title">აბონენტის სულადობის კორექტირება</h3>
      <p class="abonents-title-desc">აბონენტზე რეგისტრირებულ პირთა რაოდენობის ცვლილება</p>
      <p class="response-deadline">პასუხის მიღების მაქსიმალური ვადა 10 სამუშაო დღეა</p>
  </div>
  <div class="edit-abonents-wrap">
      <form [formGroup]="abonentsForm" class="edit-abonents">
          <div class="edit-abonents-head-filds">
              <div class="form-group-wrap">
                  <div class="form-group">
                      <label>აბონენტის ნომერი</label>
                      <input type="text" formControlName="abonentNumber">
                  </div>
                  <div class="form-group cadastral-code">
                      <label>საკადასტრო კოდი</label>
                      <input type="search" formControlName="cadastralCode">
                      <span>ძიება</span>
                  </div>
              </div>
              <div class="form-group-wrap">
                  <div class="form-group">
                      <label>სულადობის რაოდენობა</label>
                      <input type="number" formControlName="populationCount">
                  </div>
                  <div class="form-group">
                      <label>საკონტაქტო ინფორმაცია</label>
                      <input type="text" formControlName="contactInfo">
                  </div>
              </div>
          </div>

          <div class="issued-forms">
              <div class="form-group issued-form">
                  <label>სამოქალაქო რეესტრის მიერ გაცემული ფორმა:</label>
                  <div><img src="assets/images/icons/file-upload-icon.png" alt="">ფოტოს ატვირთვა</div>
              </div>
              <div class="form-group issued-form">
                  <label><img src="assets/images/icons/upload-img-icon.png" alt="">document_2024tbilisigeorga.jpg</label>
                  <div><img src="assets/images/icons/x-img-delete-icon.png" alt=""></div>
              </div>
          </div>

          <div class="chackboxs">
              <div class="chackbox">
                  <input type="checkbox" class="chackbox-fild" formControlName="deathCase">
                  <span class="checkbox-text">გარდაცვალების შემთხვევა</span>
              </div>

              <h3 class="chackbox-heading">განაცხადზე პასუხის მიღება</h3>
              <div class="receiving-response">
                  <div class="chackbox">
                      <input type="checkbox" class="chackbox-fild" formControlName="receiveEmail">
                      <span class="checkbox-text">ელ.ფოსტით</span>
                  </div>
                  <div class="chackbox">
                      <input type="checkbox" class="chackbox-fild" formControlName="receiveSMS">
                      <span class="checkbox-text">SMS შეტყობინება</span>
                  </div>
              </div>

              <h3 class="chackbox-heading">განაცხადზე პასუხის მიღება</h3>
              <div class="receiving-response-2">
                  <div class="chackbox">
                      <input type="checkbox" class="chackbox-fild" formControlName="personalInfoUsage">
                      <span class="checkbox-text">მოცემული ჩემი პირადი ნომერი, ტელეფონის ნომერი და ელ.ფოსტის მისამართი გამოყენებული იქნება სასმელი წყლით მომარაგებასთან დაკავშირებული ინფორმაციის შეტყობინების მიზნით</span>
                  </div>
                  <div class="chackbox">
                      <input type="checkbox" class="chackbox-fild" formControlName="utilityInfoSharing">
                      <span class="checkbox-text">განცხადებაში მოცემული ჩემი პირადი ნომერი, ტელეფონის ნომერი, და ელ.ფოსტის მისამართი მიეწოდოს ბუნებრივი გაზისა და ელექტროენერგიის სექტორში მომსახურე შემდეგ საწარმოებს, სადაც, განაცხადში მოცემულ მისამართზე, რეგისტრირებული ვარ მომხმარებლად და გამაჩნია აბონენტის ნომერი</span>
                  </div>
                  <div class="chackbox">
                      <input type="checkbox" class="chackbox-fild" formControlName="electronicReceiptAgreement">
                      <span class="checkbox-text">თანახმა ვარ, ქვითარი მივიღო ელექტრონული ფორმით ქვითრის მიწოდების შესახებ თანდართული <a href="#"> შეთანხმების </a> შესაბამისად  განცხადების გაგზავნა</span>
                  </div>
              </div>
          </div>
          <button type="submit" class="btn-primary submit-aplication" [disabled]="abonentsForm.invalid" (click)="onSubmit()">განაცხადების გაგზავნა</button>
      </form>
  </div>
</div>
