
<div id="popup-chveneba" class="popup" style="display: flex;">
  <div class="popup-content">
    <img id="closePopupChv" class="close-button" src="assets/images/icons/close.png" (click)="onClose()"/>
    <div class="popup-top">
      <p class="heading-secondary">მრიცხველის მონაცემის დაფიქსირება</p>
    </div>
    <div class="form-group">
      <label>ახალი ჩვენება</label>
      <input type="text" id="abonentNumber" placeholder="მიუთითეთ აბონენტის ნომერი" />
      <p class="text-primary" style="font-size: 12px;">მრიცხველის ბოლო 4 ციფრი</p>
    </div>
    <div class="popup-buttons" style="align-items: center">
      <div id="upload" class="info-wrp"><img src="assets/images/icons/upload.png">
        <p class="text-link">ფოტოს ატვირთვა</p>
      </div>
      <button id="submitBtn" class="btn-primary">დადასტურება</button>
    </div>
  </div>
</div>