<div class="footer-wrap">
    <footer class="container space-between">
        <div class="footer-column footer-adress">
            <h2 class="footer-adress-heading">მისამართები</h2>
            <ul>
                <li><a href="#">მთაწმინდის რაიონი -  მედია (მზია) ჯუღელის ქუჩა N10</a></li>
                <li><a href="#">ისნის რაიონი - შუამთის ქ. N10ბ</a></li>
                <li><a href="#">გლდანის რაიონი - აკაკი ვასაძის ქ. N12</a></li>
                <li><a href="#">რუსთავი - წმინდა ნინოს ქ. N15</a></li>
                <li><a href="#">მცხეთა - დავით აღმაშენებლის ქ. N27</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <ul>
                <li class="first-f-item"><a href="#">ჩვენს შესახებ</a></li>
                <li><a href="#">წესები და პირობები</a></li>
                <li><a href="#" class="desktop-faq">ხშირად დასმული კითხვები</a></li>
                <li><a href="#">მისამართები</a></li>
            </ul>
        </div>
        <div class="footer-column footer-contacts">
            <ul>
                <li class="footer-contact-item first-f-item"><img src="assets/images/phone-icon.png" alt="phone"> <a href="tel: 32 222 25 25">თბილისი - <span>32 222 25 25</span></a></li>
                <li class="footer-contact-item"><img src="assets/images/phone-icon.png" alt="phone"> <a href="tel: 32 293 36 71">რუსთავი - <span> 32 293 36 71</span></a></li>
                <li class="footer-contact-item"><img src="assets/images/mail-icon.png" alt="mail"><a href="mailto:online@gwp.ge">online&#64;gwp.ge</a></li>
            </ul>
        </div>

        <li class="mobile-faq"><a href="#">ხშირად დასმული კითხვები</a></li>

        <div class="footer-column footer-last-row">
            <div class="footer-socials">
                <a href="#"><img src="assets/images/icons/fb.png" alt="facebook"></a>
                <a href="#"><img src="assets/images/icons/ig.svg" alt="instagram"></a>
                <a href="#"><img src="assets/images/icons/linkedin.png" alt="instagram"></a>
                <a href="#"><img src="assets/images/icons/yt.png" alt="youtube"></a>
            </div>
            <div class="footer-logos align-center">
                <img src="assets/images/footer-logo-gvp.png" alt="footer-logo-gvp">
                <img src="assets/images/footer-logo-aqualia.png" alt="footer-logo-aqualia">
            </div>
        </div>
    </footer>
</div>