<div class="container">
  <div class="topside-header">
      <ul class="topside-nav-links">
          <li class="topside-nav-item" [ngClass]="{'active': ethicTab == 1}" (click)="ethicTab = 1"><a data-content="content1" data-layout="flex">ეთიკისა და ქცევის
                  კდოექსი</a></li>
          <li class="topside-nav-item" [ngClass]="{'active': ethicTab == 2}" (click)="ethicTab = 2"><a class="text" data-content="content2" data-layout="grid">ეთიკის
                  ხარისხი</a>
          </li>
          <li class="topside-nav-item" [ngClass]="{'active': ethicTab == 3}" (click)="ethicTab = 3"><a class="text" data-content="content3" data-layout="flex">პოლიტიკა</a>
          </li>
      </ul>
  </div>

  <div class="innerpage-container">
      <div id="content1" class="content active flex-container" *ngIf="ethicTab == 1">
          <div class="innerpage-text-wrapper">
              <div class="heading-secondary">კეთილსინდისიერება, პატიოსნება და გამჭვირვალობა</div>
              <div class="innerpage-text-container">
                  <p class="text-primary">ჯორჯიან უოთერ ენდ ფაუერს დანერგილი აქვს ორი მნიშვნელოვანი მექანიზმი, რომლიც უზრუნველყოფს კომპანიის ეთიკისა და კეთილსინდისიერების პოლიტიკის ეფექტურობას. ეს არის ეთიკისა და ქცევის კოდექსი, რომელიც კომპანიის ყველა თანამშრომლისთვის
                      განსაზღვრავს მაღალი სტანდარტის ქცევის წესებს და ეთიკის არხი, რომლის საშუალებითაც შესაძლებელია ეთიკისა და ქცევის კოდექსის დარღვევების შესახებ შეტყობინებების გაგზავნა.
                  </p>
              </div>
          </div>
          <div class="innerpage-text-wrapper">
              <div class="heading-secondary">ეთიკისა და ქცევის კოდექსი</div>
              <div class="innerpage-text-container">
                  <p class="text-primary">ჯორჯიან უოთერ ენდ ფაუერს, როგორც FCC Aqualia S.A.-სთან დაკავშირებულ სუბიექტს დამტკიცებული და სამოქმედოდ შემოღებული აქვს FCC Aqualia S.A.-ში მოქმედი ეთიკისა და ქცევის კოდექსი.
                  </p>
                  <p class="text-primary"> ეთიკის და ქცევის კოდექსი არის უმაღლესი სტანდარტის დოკუმენტი, რომელიც კომპანიაში ადგენს თანამშრომელთა ქცევის პრინციპებს ეთიკური, სოციალური და გარემოსდაცვითი მიმართულებით. კოდექსის მიზანია, ჯორჯიან უოთერ ენდ ფაუერთან დაკავშირებულმა
                      ყველა პირმა საქმიანობის დროს იხელმძღვანელოს წესებით, რომელიც ადგენს კანონმდებლობასთან, რეგულაციებთან, ხელშეკრულებებთან, პროცედურებსა და ეთიკურ პრინციპებთან შესაბამისობას. </p>
                  <p class="text-primary"> კოდექსი, სხვა საკითხებთან ერთად, მოიცავს ანტიკორუფციულ და მოსყიდვის საწინააღმდეგო საკითხებს, ადამიანის უფლებების დაცვასთან დაკავშირებული საკითხების მართვას, ადამიანური კაპიტალის განვითარებას, სამუშაო ადგილზე შრომის უსაფრთხოებასა
                      და ჯანმრთელობის დაცვას, გარემოსდაცვითი საკითხების გათვალისწინებას. კოდექსი ვრცელდება კომპანიის ყველა თანამშრომელზე, მომწოდებელსა და კონტრაქტორზე, რომლებთანაც გვაქვს საქმიანი ურთიერთობა.</p>

                  <p class="text-primary"> ეთიკის კოდექსი აძლიერებს ორგანიზაციულ კულტურას, რამდენადაც კოდექსი შექმნილია კომპანიის იდენტობის, კულტურის და ქცევის ერთიანი მოდელის შექმნისა და განმტკიცების მიზნით. კოდექსი ხელს უწყობს პრაქტიკაში ფასეულობების დანერგვას, აძლიერებს
                      შესაბამისობის კულტურას და უზრუნველყოფს გრძელვადიანი ღირებულებების მქონე პროექტების განხორციელებას.</p>

                  <p class="text-primary"> ეთიკის და ქცევის კოდექსის დაცვა სავალდებულოაჯორჯიან უოთერ ენდ ფაუერთან დაკავშირებული ყველა პირისთვის, მათ შორის თანამშრომლებისთვის, მომწოდებლებისა თუ კონტრაქტორიებისთვის, განურჩევლად მხარეებს შორის არსებული სახელშეკრულებო ურთიერთობის
                      შინაარსისა, დაკავებული თანამდებობისა თუ საქმიანობის წარმოების გეოგრაფიული არეალისა.</p>
              </div>
          </div>
          <div class="innerpage-texxt-wrapper">
              <div class="btn-pdf"><img src="assets/images/icons/pdf.png">
                  <p class="text-link">ეთიკის და ქცევის კოდექსი</p>
              </div>
          </div>
      </div>
      <div id="content2" class="content flex-container" *ngIf="ethicTab == 2">
          <div class="innerpage-text-wrapper">
              <div class="heading-secondary">ეთიკის ხარისხი</div>
              <div class="innerpage-text-container">
                  <p class="text-primary">ჯორჯიან უოთერ ენდ ფაუერს დანერგილი აქვს ორი მნიშვნელოვანი მექანიზმი, რომლიც უზრუნველყოფს კომპანიის ეთიკისა და კეთილსინდისიერების პოლიტიკის ეფექტურობას. ეს არის ეთიკისა და ქცევის კოდექსი, რომელიც კომპანიის ყველა თანამშრომლისთვის
                      განსაზღვრავს მაღალი სტანდარტის ქცევის წესებს და ეთიკის არხი, რომლის საშუალებითაც შესაძლებელია ეთიკისა და ქცევის კოდექსის დარღვევების შესახებ შეტყობინებების გაგზავნა.
                  </p>
              </div>

              <div class="innerpage-text-container">
                  <div class="btn-pdf"><img src="assets/images/icons/pdf.png">
                      <p class="text-link">წარმომადგენლების შესახებ პოლიტიკა FCC ჯგუფი</p>
                  </div>
                  <div class="btn-pdf"><img src="assets/images/icons/pdf.png">
                      <p class="text-link">შესაბამისობის საკითხებთან დაკავშირებით პარტნიორებთან ურთიერთობის პოლიტიკა
                      </p>
                  </div>
                  <div class="btn-pdf"><img src="assets/images/icons/pdf.png">
                      <p class="text-link">ადამიანის უფლებების შესახებ პოლიტიკა</p>
                  </div>
                  <div class="btn-pdf"><img src="assets/images/icons/pdf.png">
                      <p class="text-link">ანტიკორუფციული პოლიტიკა</p>
                  </div>
                  <div class="btn-pdf"><img src="assets/images/icons/pdf.png">
                      <p class="text-link">საჩუქრების შესახებ პოლიტიკა</p>
                  </div>
              </div>
          </div>
      </div>
      <div id="content3" class="content flex-container" *ngIf="ethicTab == 3">
          <div class="innerpage-text-wrapper">
              <div class="heading-secondary">ეთიკის არხი</div>
              <div class="innerpage-text-container">
                  <p class="text-primary">კომპანიაში ეთიკის საკომუნიკაციო არხი ყველასთვის ხელმისაწვდომია. ეთიკის არხის საშუალებით შესაძლებელია ეთიკისა და ქცევის კოდექსის დამრღვევი ქმედებებისა და სისხლის სამართლის შესაძლო დანაშაულის შესახებ შეტყობინებების დაფიქსირება. ეთიკის
                      არხის მეშვეობით ჯორჯიან უოთერ ენდ ფაუერში შესაძლებელია ანონიმური და კონფიდენციალური შეტყობინებების გაგზავნა ყველა იმ საკითხზე ან ქმედებაზე, რომელიც შესაძლოა შეიცავდეს ეთიკისა და ქცევის კოდექსის დარღვევას  ჯორჯიან უოთერ ენდ
                      ფაუერის მენეჯმენტის მხრიდან. ყველა შეტყობინებაზე რეაგირება მოხდება ეთიკის არხის პროცედურის შესაბამისად.
                  </p>
                  <p class="text-primary"> გთხოვთ, ინციდენტის შემთხვევაში, შეავსოთ მოცემული შეტყობინების ფორმა და გამოაგზავნოთ ელექტრონულ მისამართზე:
                      <a href="mailto:whistleblowingline@ggu.ge" class="highlited">whistleblowingline&#64;ggu.ge
                      </a> (არხი საქართველოში) ან/და <a href="mailto:canaletico@fcc.es" class="highlited">canaletico&#64;fcc.es </a>  (არხი ესპანეთში) ან საფოსტო გზავნილით მისამართზე: მადრიდი, ესპანეთი, PO Box 19312 - 28080
                  </p>
                  <div class="text-primary" style="color: #000; font-weight: 800;">ინციდენტის კატეგორიები</div>
                  <li>კორუფცია </li>
                  <li>მოსყიდვა </li>
                  <li>გავლენით სარგებლის მიღება </li>
                  <li>თაღლითობა </li>
                  <li>ფულის გათეთრება </li>
                  <li>ბუნებრივი რესურსებისა და გარემოს წინააღმდეგ მიმართული დანაშაული </li>
                  <li>ქალაქგეგმარებისა და მიწის განვითარების წინააღმდეგ მიმართული დანაშაული </li>
                  <li>საზოგადოებრივი ჯანმრთელობის წინააღმდეგ მიმართული დანაშაული </li>
                  <li>ინტერესთა კონფლიქტი </li>
                  <li>პოლიტიკური პარტიების დაფინანსება </li>
                  <li>შევიწროება </li>
                  <li>ეთიკის კოდექსის სხვა პრინციპის დარღვევა </li>
                  <li style="list-style: none;">
                      <div class="btn-pdf"><img src="assets/images/icons/pdf.png">
                          <p class="text-link">შეტყობინების შევსების ფორმა</p>
                      </div>
                  </li>


              </div>
          </div>
      </div>
  </div>
</div>