<div class="career-mobile-page">
  <h3 class="career-popup-heading">ახალი მიერთების და რეაბილიტაციის სამსახურში, მუშა/ზეინკლის პოზიცია</h3>
  <p class="text-primary">ჯორჯიან უოთერ ენდ ფაუერი  აცხადებს ვაკანსიას ახალი მიერთების და რეაბილიტაციის სამსახურში, მუშა/ზეინკლის პოზიციაზე.</p>
  <ul>
      <h5 class="list-heading mt-16">პასუხისმგებლობა/მოვალეობები:</h5>
      <li class="text-primary">პასუხისმგებლობა/მოვალეობები:</li>
      <li class="text-primary">გრუნტის დამუშავება, მიწის გათხრითი სამუშაოების წარმოება და განათხარის ქვიშა-ხრეშოვანი ნარევით შევსება; </li>
      <li class="text-primary">პასუხისმგებლობა/მოვალეობები:</li>
      <li class="text-primary">გრუნტის დამუშავება, მიწის გათხრითი სამუშაოების წარმოება და განათხარის ქვიშა-ხრეშოვანი ნარევით შევსება; </li>
      <li class="text-primary">პასუხისმგებლობა/მოვალეობები:</li>
      <li class="text-primary">გრუნტის დამუშავება, მიწის გათხრითი სამუშაოების წარმოება და განათხარის ქვიშა-ხრეშოვანი ნარევით შევსება; </li>
  </ul>
  <p class="text-primary">ჯორჯიან უოთერ ენდ ფაუერი  აცხადებს ვაკანსიას ახალი მიერთების და რეაბილიტაციის სამსახურში, მუშა/ზეინკლის პოზიციაზე.</p>
  <ul>
      <h5 class="list-heading mt-16">პასუხისმგებლობა/მოვალეობები:</h5>
      <li class="text-primary">პასუხისმგებლობა/მოვალეობები:</li>
      <li class="text-primary">გრუნტის დამუშავება, მიწის გათხრითი სამუშაოების წარმოება და განათხარის ქვიშა-ხრეშოვანი ნარევით შევსება; </li>
      <li class="text-primary">პასუხისმგებლობა/მოვალეობები:</li>
      <li class="text-primary">გრუნტის დამუშავება, მიწის გათხრითი სამუშაოების წარმოება და განათხარის ქვიშა-ხრეშოვანი ნარევით შევსება; </li>
      <li class="text-primary">პასუხისმგებლობა/მოვალეობები:</li>
      <li class="text-primary">გრუნტის დამუშავება, მიწის გათხრითი სამუშაოების წარმოება და განათხარის ქვიშა-ხრეშოვანი ნარევით შევსება; </li>
  </ul>
</div>