<div class="container inside-news">
  <div class="news-inside-img">
    <img src="assets/images/home-imgs/home-news.png" alt="" />
  </div>
  <span class="news-head-date">11.23.2024</span>
  <h2 class="news-inside-heading">
    საოპერაციო ცენტრები წყალმომარაგების სერვისების მართვის ევროპული მოდელია -
    ხოსე მიგელ სანტოსი, gwp-ის გენერალური დირექტორი
  </h2>
  <p class="text-primary">
    ჯორჯიან უოთერ ენდ ფაუერმა (ჯივიპი) თბილისში, ანდრონიკაშვილის ქუჩაზე, პირველი
    მულტიფუნქციური საოპერაციო ცენტრი გახსნა. <br />
    <br />
    საოპერაციო ცენტრი ჯივიპის ახალი სტრუქტურული ერთეულია, რომელიც ქმნის უნიკალურ
    შესაძლებლობას მნიშვნელოვნად გაუმჯობესდეს წყალმომარაგების სერვისი თბილისის,
    რუსთავისა და მცხეთის მოსახლეობისთვის. შესაბამისი ადამიანური და ტექნიკური
    რესურსით აღჭურვილი თითოეული საოპერაციო ცენტრი, კონკრეტული უბნების
    წყალმომარაგებაზე იქნება პასუხისმგებელი, რაც გაამარტივებს საოპერაციო
    პროცესებს და შეამცირებს რეაგირების დროს. <br />
    <br />
    ჯივიპის თბილისში, რუსთავსა და მცხეთაში  მიმდინარე წლის 15 დეკემბრამდე ჯამში
    4 ძირითადი და ორი  დაქვემდებარებული საოპერაციო ცენტრის გახსნა აქვს
    დაგეგმილი. საოპერაციო ცენტრები განთავსდება სამგორის რაიონში, ჯავახეთის
    ქუჩაზე; გლდანის რაიონში, ფეიქრების ქუჩაზე; ტაბახმელაში, ქალაქ რუსთავსა და
    ქალაქ მცხეთაში. ახალ საოპერაციო ცენტრებს  42 საავარიო და 25 პრევენციული
    მონიტორინგის ჯგუფი მოემსახურება. <br />
    <br />
    ჯივიპის თბილისში, რუსთავსა და მცხეთაში მიმდინარე წლის 15 დეკემბრამდე ჯამში 4
    ძირითადი და ორი  დაქვემდებარებული საოპერაციო ცენტრის გახსნა აქვს დაგეგმილი.
    საოპერაციო ცენტრები განთავსდება სამგორის რაიონში, ჯავახეთის ქუჩაზე; გლდანის
    რაიონში, ფეიქრების ქუჩაზე; ტაბახმელაში, ქალაქ რუსთავსა და ქალაქ მცხეთაში.
    ახალ საოპერაციო ცენტრებს  42 საავარიო და 25 პრევენციული მონიტორინგის ჯგუფი
    მოემსახურება.
  </p>

  <!-- home news and inside news pages bottom content is similar -->
  <div class="home home-news">
    <div class="home-news-head">
      <h3>სიახლეები</h3>
      <a href="#">ყველას ნახვა</a>
    </div>
    <div class="home-news-cards">
      <div class="home-news-card">
        <img src="assets/images/home-imgs/home-news.png" alt="" />
        <div class="news-date center">25.11.2024</div>
        <h4 class="home-news-heading">
          ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება
        </h4>
        <p class="home-news-text">
          დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5
          მიკრორაიონის N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების 
          აღსადგენად სამუშაოებს ატარებს.
        </p>
      </div>
      <div class="home-news-card">
        <img src="assets/images/home-imgs/home-news.png" alt="" />
        <div class="news-date center">25.11.2024</div>
        <h4 class="home-news-heading">
          ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება
        </h4>
        <p class="home-news-text">
          დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5
          მიკრორაიონის N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების 
          აღსადგენად სამუშაოებს ატარებს.
        </p>
      </div>
      <div class="home-news-card">
        <img src="assets/images/home-imgs/home-news.png" alt="" />
        <div class="news-date center">25.11.2024</div>
        <h4 class="home-news-heading">
          ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება
        </h4>
        <p class="home-news-text">
          დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5
          მიკრორაიონის N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების 
          აღსადგენად სამუშაოებს ატარებს.
        </p>
      </div>
      <div class="home-news-card">
        <img src="assets/images/home-imgs/home-news.png" alt="" />
        <div class="news-date center">25.11.2024</div>
        <h4 class="home-news-heading">
          ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება
        </h4>
        <p class="home-news-text">
          დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5
          მიკრორაიონის N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების 
          აღსადგენად სამუშაოებს ატარებს.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- mobile slider news -->

<div class="swiper-container mb-24">
  <div class="home-news-head flex space-between mt-32">
    <h3>სიახლეები</h3>
    <a href="#">ყველას ნახვა</a>
  </div>
  <swiper-container [breakpoints]="breakpoints" loop="true">
    <swiper-slide >
        <div class="swiper-slide" routerLink="/about-us/detail"> 
            <div class="home-news-card">
                <img src="assets/images/home-imgs/home-news.png" alt="">
                <div class="news-date center">25.11.2024</div>
                <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
                <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის
                    N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="swiper-slide" routerLink="/about-us/detail">
            <div class="home-news-card">
                <img src="assets/images/home-imgs/home-news.png" alt="">
                <div class="news-date center">25.11.2024</div>
                <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
                <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის
                    N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="swiper-slide" routerLink="/about-us/detail">
            <div class="home-news-card">
                <img src="assets/images/home-imgs/home-news.png" alt="">
                <div class="news-date center">25.11.2024</div>
                <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
                <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის
                    N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="swiper-slide" routerLink="/about-us/detail">
            <div class="home-news-card">
                <img src="assets/images/home-imgs/home-news.png" alt="">
                <div class="news-date center">25.11.2024</div>
                <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
                <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის
                    N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
            </div>
        </div>
    </swiper-slide>
</swiper-container>
</div>
