<div class="container home-main-section space-between">
    <div class="home-main space-between">
        <div class="home-main-left">
            <h1>შენი პერსონალური კაბინეტი</h1>
            <p>ისარგებლე ჯივიპის ელექტრონული სერვისებით:</p>
            <div class="home-main-left-links">
                <a href="#">
                    <img src="assets/images/user-number.png" alt="">
                    <p class="text-primary">აბონენტის ნომერის და მიმდინარე გადასახადი</p>
                </a>
                <a href="#">
                    <img src="assets/images/filling-application.png" alt="">
                    <p class="text-primary">განცხადების შევსება და სტატუსი</p>
                </a>
                <a href="#">
                    <img src="assets/images/current-works.png" alt="">
                    <p class="text-primary">თქვენ მისამართთან დაკავშირებული სამუშაოები</p>
                </a>
                <a href="#">
                    <img src="assets/images/payment-type.png" alt="">
                    <p class="text-primary">წყალმომარაგების საფასურის დარიცხვის ტიპი</p>
                </a>
            </div>
        </div>
        <div class="home-main-right">
            <a href="#" class="home-main-right-link">
                <img src="assets/images/home-imgs/online-payment.png" alt="">
                <h3>ონლაინ გადახდა</h3>
                <p>გადაიხადე წყალმომარაგების საფასური სახლიდან გაუსვლელად</p>
            </a>
            <a href="#" class="home-main-right-link">
                <img src="assets/images/home-imgs/restriction.png" alt="">
                <h3>წყალმომარაგების შეზღუდვა</h3>
                <p>მიიღე ინფორმაცია დაგეგმილი და გადაუდებელი სამუშაოების შესახებ</p>
            </a>
            <a href="#" class="home-main-right-link">
                <img src="assets/images/home-imgs/problem-add.png" alt="">
                <h3>პრობლემის დაფიქსირება</h3>
                <p>მოგვაწოდე ინფორმაცია წყალმომარაგების სისტემის პრობლემის შესახებ </p>
            </a>
            <div class="home-main-right-link home-hot-line">
                <h3>ცხელი ხაზი</h3>
                <a class="align-center" href="tel:293 11 11">
                    <div> <span>თბილისი - </span> <img src="assets/images/home-imgs/hot-line-icon.png" alt=""> 293 11 11
                        11
                    </div>
                </a>
                <a class="align-center" href="tel:293 11 11" style=" margin-top: 16px;">
                    <div><span>რუსთავი -</span> <img src="assets/images/home-imgs/hot-line-icon.png" alt=""> 293 11 11
                        11
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn-primary mobile-cabinet-btn mt-24">ჩემი კაბინეტი <img src="assets/images/icons/btn-arrow.png"
        alt=""></a>
<!--mobile cabinets btn-->



<div class="home container home-news ">
    <div class="home-news-head space-between mb-8">
        <h3>სიახლეები</h3>
        <a href="#">ყველას ნახვა</a>
    </div>
    <div class="home-news-cards">
        <div class="home-news-card" routerLink="/about-us/detail">
            <img src="assets/images/home-imgs/home-news.png" alt="">
            <div class="news-date center">25.11.2024</div>
            <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
            <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის N9ა
                კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
        </div>
        <div class="home-news-card" routerLink="/about-us/detail">
            <img src="assets/images/home-imgs/home-news.png" alt="">
            <div class="news-date center">25.11.2024</div>
            <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
            <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის N9ა
                კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
        </div>
        <div class="home-news-card" routerLink="/about-us/detail">
            <img src="assets/images/home-imgs/home-news.png" alt="">
            <div class="news-date center">25.11.2024</div>
            <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
            <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის N9ა
                კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
        </div>
        <div class="home-news-card" routerLink="/about-us/detail">
            <img src="assets/images/home-imgs/home-news.png" alt="">
            <div class="news-date center">25.11.2024</div>
            <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
            <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის N9ა
                კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
        </div>
    </div>
</div>



<!-- mobile slider news -->

<div class="swiper-container">
    <div class="home-news-head flex space-between mt-32">
        <h3>სიახლეები</h3>
        <a href="#">ყველას ნახვა</a>
    </div>
    <swiper-container [breakpoints]="breakpoints" loop="true">
        <swiper-slide >
            <div class="swiper-slide" routerLink="/about-us/detail"> 
                <div class="home-news-card">
                    <img src="assets/images/home-imgs/home-news.png" alt="">
                    <div class="news-date center">25.11.2024</div>
                    <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
                    <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის
                        N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="swiper-slide" routerLink="/about-us/detail">
                <div class="home-news-card">
                    <img src="assets/images/home-imgs/home-news.png" alt="">
                    <div class="news-date center">25.11.2024</div>
                    <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
                    <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის
                        N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="swiper-slide" routerLink="/about-us/detail">
                <div class="home-news-card">
                    <img src="assets/images/home-imgs/home-news.png" alt="">
                    <div class="news-date center">25.11.2024</div>
                    <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
                    <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის
                        N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="swiper-slide" routerLink="/about-us/detail">
                <div class="home-news-card">
                    <img src="assets/images/home-imgs/home-news.png" alt="">
                    <div class="news-date center">25.11.2024</div>
                    <h4 class="home-news-heading">ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h4>
                    <p class="home-news-text">დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის
                        N9ა კორპუსის მიმდებარედ წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</div>




<div class="space-between home-fast-links-secton container">
    <h3 class="fast-links-heading">სწრაფი ლინკები</h3>
    <div class="home-fast-links">
        <a href="#" class="btn-secondary">წყლის ხარისხის მართვა</a>
        <a href="#" class="btn-secondary">სოციალური პასუხისმგებლობა</a>
        <a href="#" class="btn-secondary">წყალმომარაგების ისტორია</a>
        <a href="#" class="btn-secondary">ხარისხის <br> მართვა</a>
    </div>
</div>

<div class="home-announcement-section container">
    <div class="home-announcement-card">
        <div class="home-announcement-txt">
            <h3>ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h3>
            <p>დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის N9ა კორპუსის მიმდებარედ
                წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
        </div>
        <a href="#" class="text-link">მეტის ნახვა <img src="assets/images/home-imgs/see-more-arrow-right.png"
                alt=""></a>
    </div>
    <div class="home-announcement-card">
        <div class="home-announcement-txt">
            <h3>ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h3>
            <p>დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის N9ა კორპუსის მიმდებარედ
                წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
        </div>
        <a href="#" class="text-link">მეტის ნახვა <img src="assets/images/home-imgs/see-more-arrow-right.png"
                alt=""></a>
    </div>
    <div class="home-announcement-card">
        <div class="home-announcement-txt">
            <h3>ჯორჯიან უოთერ ენდ ფაუერის სპეციალური განცხადება</h3>
            <p>დღეს, 25 ოქტომბერს, ჯორჯიან უოთერ ენდ ფაუერი ნუცუბიძის მე-5 მიკრორაიონის N9ა კორპუსის მიმდებარედ
                წყალსადენის ქსელზე დაზიანების  აღსადგენად სამუშაოებს ატარებს.</p>
        </div>
        <a href="#" class="text-link">მეტის ნახვა <img src="assets/images/home-imgs/see-more-arrow-right.png"
                alt=""></a>
    </div>
</div>